@model DbReportGenerator.Models.DBdata

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DBdata</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accounted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accounted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encrypted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encrypted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Production)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Production)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
